@using ToDoList.Domain.Enum
@{
    ViewData["Title"] = "Home Page";
}

<h4 class="md-3 text-muted"></h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-lable">Task name</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <label class="form-label">Task priority</label>
    <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-lable">Task description</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Create</button>
</form>

@section Scripts
    {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createTask').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }

            })
        });
    </script>
}
